.summary-container {
  padding: 1.5rem;
  text-align: center;
  margin: 0 auto;
  width: 780px;
  display: table-cell;
}

table {
  margin: 0 auto 1rem;
  min-width: 300px;
}

.avg {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.empty {
  text-align: center;
  color: #9e9e9e;
  padding: 2rem;
  width: 780px;
}

@media (max-width: 800px) and (min-width: 656px){
  .summary-container, .empty {
    width: 698px;
    margin: 0 auto;
  }
}

@media (max-width: 655px) {

}