.keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: #e3f2fd;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  width: fit-content;
}

.row {
  display: flex;
  gap: 0.5rem;
}

button {
  width: 72px;
  height: 72px;
  font-size: 3rem;
  line-height: 1;
  background: #e3f2fd;
  border: 0;
}

@media (max-width: 800px) {
  button {
    width: 55px;
    height: 55px;
  }
}
