.keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3f2fd;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid grey;
  width: fit-content;
  touch-action: manipulation;
}

.keypad button {
  border-radius: 12px;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  line-height: 1;
  background: #e3f2fd;
  border: 0;
  transition: transform 0.1s ease, background-color 0.1s ease;
  touch-action: manipulation;
}

.keypad button:active {
  transform: scale(0.9);
  background-color: rgba(0,0,0,0.1);
}

.row {
  display: flex;
  gap: 0.2rem;
}

@media (max-width: 800px) {
  button {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 650px) {
  .keypad button {
    width: 86px;
    height: 86px;
  }
}
