.keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3f2fd;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid grey;
  width: fit-content;
  touch-action: manipulation;
  margin-right: 1.5rem;
}

.keypad button {
  border-radius: 12px;
  width: 78px;
  height: 78px;
  font-size: 3rem;
  line-height: 1;
  background: #e3f2fd;
  border: 0;
  transition: transform 0.1s ease, background-color 0.1s ease;
  touch-action: manipulation;
  user-select: none;
}

.keypad button:active {
  transform: scale(0.9);
  background-color: rgba(0,0,0,0.1);
}

.row {
  display: flex;
  gap: 0.2rem;
}

@media (max-width: 800px) and (min-width: 656px) {
  .keypad button {
    width: 58px;
    height: 58px;
    font-size: 2.4rem;
  }
  .keypad {
    margin-right: 1rem;
  }
}

@media (max-width: 655px) {
  .keypad button {
    width: 72px;
    height: 72px;
    font-size: 2.5rem;
  }
  .keypad {
    margin-right: 0;
  }

}
