.form-container {
  display: flex;
  // grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.boxes-panel {
  margin: auto;
}

.entry-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: left;
  margin-left: 2rem;
}

.cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.cell.locked {
  cursor: pointer;
  background: #e3f2fd;
  user-select: none;
}

.cell.locked:hover {
  background: #bbdefb;
}

.cell.selected {
  border: 1px solid #1976d2;
  box-sizing: border-box;
  box-shadow: 1px 1px #888888;
  background-color: #bbdefb;
}

.cell.spacer {
  visibility: hidden;
  width: 64px;
}

// not used
.number-pair-gap {
  display: flex;
  gap: 24px;
}

// not used
.cell-gap {
  margin-left: 16px;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.result {
  text-align: center;
  margin-top: 1rem;
  color: #43a047;
  font-size: 1.1rem;
}

@media (max-width: 655px) {
  .form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3px;
    padding-top: 1.5rem;
    gap: 1.2rem;
  }

  .cell {
    width: 62px;
    height: 62px;
    font-size: 1.6rem;
  }

  .cell.spacer {
    width: 48px;
  }

  .entry-row {
    margin-left: 0;
  }
}

@media (max-width: 800px) and (min-width: 656px) {
  .cell {
    width: 62px;
    height: 62px;
    font-size: 1.6rem;
  }

  .entry-row {
    margin-left: 1rem;
  }

  .form-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 365px) {
  .cell {
    width: 56px;
    height: 56px;
    font-size: 1.6rem;
  }
}
