/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@media (max-width: 365px) {
  body {
    overflow-x: scroll;
    min-width: 345px;
  }
}
